name: ci build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: build application
      run: make all

    - uses: actions/upload-artifact@v4
      with:
        name: vgps
        path: vgps
